@model LoginViewModel

@if (User.Identity.IsAuthenticated)
{
    <div id="chatroom" class="overflow-auto" style="height: 500px; width:300px;">

    </div>

    <br />
    <button id="butBro" type="button" class="btn btn-primary btn-xl">Bro!</button>
    <button id="butSis" type="button" class="btn btn-success btn-xl">Sis!</button>

    <br />
    <button  class="btn btn-outline-danger" onclick="location.href='@Url.Action("LogOff", "Account")'">Log off</button>
    <br />
}
else
{
    <h1> Auntification: </h1>
    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
        @foreach (var provider in Model.ExternalProviders)
        {
            <button type="submit" name="provider" class="btn btn-outline-info" value="@provider.Name">
                @provider.DisplayName
            </button>
        }   
    </form>
}

<div id="broClick" class="d-inline">0</div>
<div class="d-inline">Bro!</div>
<div id="sisClick" class="d-inline">0</div>
<div class="d-inline">Sis!</div>